<div class="m-2">
    <div class="bg-info text-white p-2">
        <!-- Selected Product: {{selectedProduct || '(None)'}} -->
        <!-- Selected Product: {{product.value || '(None)'}} -->
        <!-- Selected Product: {{selectedProduct || '(None)'}} -->
    </div>
    <div class="bg-info text-white mb-2 p-2">Model Data: {{jsonProduct}}</div>
    <table class="table table-sm table-bordered">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let item of getProducts(); let i = index" [class.bg-info]="getSelected(item)">
            <!-- [class.bg-info]="product.value==item.name"-->
            <!--[class.bg-info]="getSelected(item)" (mouseover)="product.value=item.name" >-->
            <!-- <td (mouseover)="selectedProduct=item.name">{{i + 1}}</td> -->
            <td>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.price}}</td>
        </tr>
    </table>
    <style>
        input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
        input.ng-dirty.ng-valid { border: 2px solid #6bc502 }
    </style>
    <!--I create a template reference variable called form and set its value to ngForm -->
    <form novalidate (ngSubmit)="submitForm(form)" #form="ngForm">
        <!--(ngSubmit)="addProduct(newProduct)" -->
        <div class="bg-info text-white mb-2 p-2">Form valid: {{form.valid}}</div>
        <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && form.invalid">
            There are problems with the form
            <ul>
                <li *ngFor="let error of getFormValidationMessages(form)">
                    {{error}}
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label>Product Name</label>
            <!--I create a template reference variable called name and set its value to ngModel -->
            <input class="form-control" name="name" [(ngModel)]="newProduct.name" #name="ngModel" required minlength="5"
                pattern="^[A-Za-z ]+$" />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || name.dirty) && name.invalid">
                <li *ngFor="let error of getValidationMessages(name)">
                    {{error}}
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label>Category</label>
            <input class="form-control" name="category" [(ngModel)]="newProduct.category" />
        </div>
        <!-- <div class="form-group">
            <label>Price</label>
            <input class="form-control" name="price" [(ngModel)]="newProduct.price" />
        </div> -->
        <div class="form-group">
            <label>Price</label>
            <input class="form-control" name="price" [(ngModel)]="newProduct.price" #price="ngModel" required pattern="^[0-9\.]+$" />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || price.dirty) && price.invalid">
                <li *ngFor="let error of getValidationMessages(price)">
                    {{error}}
                </li>
            </ul>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="formSubmitted && form.invalid"
                [class.btn-secondary]="formSubmitted && form.invalid">
                Create
            </button>
            <!-- <button class="btn btn-primary" type="submit">Create</button> -->
            <!-- (click)="addProduct(newProduct)"-->
        </div>
        <!-- <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || name.dirty) && name.invalid">
            <li *ngFor="let error of getValidationMessages(name)">
                {{error}}
            </li>
        </ul> -->
        <!-- <ul class="text-danger list-unstyled" *ngIf="name.dirty && name.invalid">
            <li *ngIf="name.errors.required">
                You must enter a product name
            </li>
            <li *ngIf="name.errors.pattern">
                Product names can only contain letters and spaces
            </li>
            <li *ngIf="name.errors.minlength">
                Product names must be at least
                {{name.errors.minlength.requiredLength}} characters
            </li>
        </ul> -->
    </form>
    <div class="form-group">

        <!-- <label>Product Name</label> -->
        <!--two way data binding with ngmodel-->
        <!-- <input class="form-control" [(ngModel)]="selectedProduct" /> -->
        <!--two way data binding-->
        <!-- 
        <input class="form-control" (input)="selectedProduct=$event.target.value" [value]="selectedProduct || ''" /> 
        -->
        <!-- event binding  -->
        <!-- <label>Product Name</label>
        <input #product class=" form-control" (keyup.enter)="selectedProduct=product.value" /> -->
        <!-- <input #product class="form-control" (keyup)="selectedProduct=product.value" /> -->
        <!-- <input #product class="form-control" (input)="false" /> -->
        <!-- <input class="form-control" (input)="selectedProduct=$event.target.value" /> -->
    </div>
</div>

<pre>(input)="false": Angular won’t update the data bindings in the template when the user edits the contents of the
        input element unless there is an event binding on that element. Setting the binding to false gives Angular
        something to evaluate just so the update process will begin and distribute the current contents of the
        input element throughout the template. This is a quirk of stretching the role of a template reference
        variable a little too far and isn’t something you will need to do in most real projects. As you will see in
        later examples—and later chapters—most data bindings rely on variables defined by the template’s component.
        </pre>